.topmenu
  ul
    li
      a(href='/')
        img(src='images/AYN/logo2.png')
        |  HOME
    .dropdown
      li
        a(href='#') SORT
        .dropmenu
          ul
            li
              a(href='/byprice') PRICE
            li
              a(href='#') CATEGORY
            li
              a(href='#') DATE
    .searchli
      li
        a(href='#')
          span SEARCH
          #query.searchbox
            label
              input(type='text' name='query' placeholder='for a product or user')
    li.right
      if loggedin
        a(href='/account') MY ACCOUNT
      else
        a(href='/login') LOGIN