.topmenu
  ul
    li
      a(href='#')
        img(src='images/AYN/logo2.png')
        |  HOME
    .dropdown
      li
        a(href='#') SORT
        .dropmenu
          ul
            li
              a(href='#') PRICE
            li
              a(href='#') TRENDS
            li
              a(href='#') DATE
            li
              a(href='#') ON SALE
    .searchli
      li
        a(href='#')
          span SEARCH
          #query.searchbox
            label
              input(type='text' name='query' placeholder='for a product or user')
    li.right
      a(href='#') MY ACCOUNT