extends ../layout/index.pug

block content

  .innerbody(style='text-align: left;')
    .spacer
    h2 About Us
    h4 Charalabos Evagelatos (Labis) sdi1400041
    ul
        li Senior at Department of Informatics and Telecommunications.
        li Contribution: Mainly Front-End Developer with experience in working in well-known news websites.
        li Worked on the appearance of the website and took most Front-End and structural decisions.
    h4 Charalabos Papa sdi1500191
    ul
        li Senior at Department of Informatics and Telecommunications.
        li Contribution: Mostly Back-End Developer.
        li Worked on reset password and most create auction functionality.
    h4 Chrysostomos Rampidis (Chrys) sdi1500205
    ul
        li Senior at Department of Informatics and Telecommunications.
        li Contribution: Mostly Back-End Developer with good understanding of Front-End concepts.
        li Worked on the functionality of the site including most Back-End functionality while also contributing on the Front-End.

  .footer
    span
      a.a1(href='/TOS') TERMS OF SERVICE
    span
      a.a1(href='/aboutus') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:alallyouneed@gmail.com') contact us