extends ../layout/index

block content
  .innerbody
    .spacer
    .auction
      .col-left
        .imgbox2
          .imgprev
            img#fill(src='#', alt='Please insert at least one image', onerror="this.src='images/AYN/image-missing.png'")
            img#fill2.smallimg(src='images/AYN/alt.jpg', alt='')
            img#fill3.smallimg(src='images/AYN/alt.jpg', alt='')
            img#fill4.smallimg(src='images/AYN/alt.jpg', alt='')
          .bot
            input#selectedFile(type='file', style='display: none;', onchange='mainimg(this);')
            input.button(type='button', value='Image 1', onclick="document.getElementById('selectedFile').click();")
            br
            br
            br
            input#selectedFile2(type='file', style='display: none;', onchange='img2(this);')
            input.button(type='button', value='Image 2', onclick="document.getElementById('selectedFile2').click();")
            br
            br
            br
            input#selectedFile3(type='file', style='display: none;', onchange='img3(this);')
            input.button(type='button', value='Image 3', onclick="document.getElementById('selectedFile3').click();")
            br
            br
            br
            input#selectedFile4(type='file', style='display: none;', onchange='img4(this);')
            input.button(type='button', value='Image 4', onclick="document.getElementById('selectedFile4').click();")
      //
        -
      .col-right
        .textbox
          .nameinp
            label
              input(type='text', name='query', placeholder='Product Name')
          .bidbox2
            span.bidspan
              label
                input(type='text', name='query', placeholder='Starting Bid')
            span.bidspan
              label
                input(type='text', name='query', placeholder='Min. Increment')
        .descbox
          label
            textarea(type='text', name='query', placeholder='product description', maxlength='250', rows='8')
  .footer
    span
      a.a1(href='#') SITEMAP
    span
      a.a1(href='#') TERMS OF SERVICE
    span
      a.a1(href='#') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:sdi1400041@di.uoa.gr') contact us
  
