extends ../layout/index.pug

block content
  .innerbody
    .spacer
    <a href="../products.xml" download>Get Products (XML)</a>
  .footer
    span
      a.a1(href='/TOS') TERMS OF SERVICE
    span
      a.a1(href='/aboutus') OUR TEAM
    br
    span
      | Created by Charalampos Papa, Chrysostomos Rampidis and Charalampos Evagelatos, 2019. All rights reserved. For questions or additional information, 
      a.a2(href='mailto:alallyouneed@gmail.com') contact us